.shelf-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.shelf-bottom {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background: #ffffff;
    height: 3px;
    width: 700px;
    margin-bottom: 2rem;
    box-shadow: #121417 0 0 10px 0;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 50vh;
    margin-top: 1rem
}